#--------------------------------------------------#
# Iván Yllescas Lamas [PWA]
#--------------------------------------------------#

# Configuration files #
##############################
# General Settings
prepros.cfg
prepros-6.config
prepros.config
node_modules/

sftp-config.json
sftp-config-alt.json

# Editors
.buildpath
.project
.settings/
.vscode/
_notes/


# Project #
##############################
references.txt
_migrate-files.md
update.md
_assets/
arquivos/_delete/
arquivos/_provisional/
production/


# Project - Common files #
##############################
bo/
system/
sendMail/
multimedia/
web/
video/


# Compiled Files #
##############################
*.map
*.min.js
!plugins_jquery-1.11.1.min.js
!plugins_lazyload_jquery.lazyload.min.js
!plugins_slick_slick.min.js
!plugins_easyzoom_easyzoom.min.js


css-js/styles.css
arquivos/css-js_styles.css
arquivos/css-js_global-components.css
arquivos/css-js_product-list.css
arquivos/css-js_product-detail.css
arquivos/css-js_landing-pages.css
arquivos/css-js_static-pages.css
arquivos/css-js_user-pages.css

css-js/shopping-cart.css
arquivos/css-js_shopping-cart.css

plugins/dlmenumovil/dlmenumovil.css
arquivos/plugins_dlmenumovil_dlmenumovil.css

plugins/font-awesome/font-awesome.css
arquivos/plugins_font-awesome_font-awesome.css

plugins/owl-carousel/owl.carousel.css
arquivos/plugins_owl-carousel_owl.carousel.css

plugins/owl-carousel/owl-multi.css
arquivos/plugins_owl-carousel_owl-multi.css

plugins/owl-carousel/owl-single.css
arquivos/plugins_owl-carousel_owl-single.css

plugins/revolution-slider/settings.css
arquivos/plugins_revolution-slider_settings.css

plugins/cubeportfolio/css/cubeportfolio.css
arquivos/plugins_cubeportfolio_cubeportfolio.css

plugins/easy-responsive-tabs/easy-responsive-tabs.css
arquivos/plugins_easy-responsive-tabs_easy-responsive-tabs.css

_checkout/checkout-custom.css
_checkout/checkout5-custom.css
arquivos/checkout5-custom.css


# OS generated files #
##############################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
arquivos/favicon_io.zip
