/*--------------------General Layout - Brand--------------------*/
$brand-width--complete: 298px;
$brand-height--complete: 50px;
.site-brand{
    position: relative;
    @include horizontal-center;
    top: 14%;
    z-index: $z-brand;
    background-color: transparent;
    transition: bottom $animate-time;
    @include mediaTo(md){
        display: none;
    }
    body.landing-vs &{
        top: 27.5%;
    }
    &__svg{
        width: $brand-width--complete;
        height: $brand-height--complete;
        body.home &.pink, body.categoria &.pink, body.departamento &.pink, body.produto &.pink, body.body--internal-page &.pink {
            display: none;
        }
        body.landing-pink &.beauty {
            display: none;
        }
        body.landing-vs &.pink {
            display: none;
        }
        body.landing-vs &.beauty {
            path{
                display: none;
                &:first-child {
                    display: block;
                }
            }
        }
    }
    &__img{
        max-width: rem(300);
        max-height: rem(250);
        &-pink{
            display: none;
            width: rem(350);
            @include mediaFrom(xl){
                width: rem(440);
            }
            body.landing-pink &{
                display: block;
            }
        }
    }
}