/*--------------------General Layout - Main--------------------*/
main{
    body > &{
        min-height: 500px;
        margin-bottom: auto;
        overflow: hidden;
        position: relative;
        top: 0;
        left: 0;
        z-index: $z-main;
        background-color: white;
        @include mediaFrom(lg){
            margin-top: $cintillo-height--lg + $top-bar-height--lg;
        }
    }
    body.departamento &,
    body.categoria &,
    body.brand &,
    body.resultado-busca &,
    body.folder &,
    body.produto &{
        @include mediaFrom(lg){
            z-index: $z-main--desktop;
            padding-top: rem(30);
        }
    }
}