/*--------------------General [Re]sponsive | Iván Luna [Re]--------------------*/
.site-header,
.site-nav,
.page-main--home-page,
.page-main--internal-page,
.site-footer,
.re-central,
.re-middle,
.re-cien{
    width: 100%;
    min-width: 240px;
}
.re-central,
.re-cien{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
.re-central,
.re-middle{
    @include horizontal-center-auto;
    @include mediaTo(md){
        @include padding-h;
    }
}
.re-central{
    @at-root
    &, // This is equal to medium without padding-h
    &--small,
    &--medium,
    &--big{
        @include margin-v(20);
        @include horizontal-center-auto;
    }
    &,
    &--small,
    &--medium,
    &--big{
        @include re-central-width;
        @include mediaTo(md){
            @include padding-h;
        }
    }
    &,
    &--small,
    &--medium,
    &--big{
        &.full {
            height: 100vh;
            &-center {
                @include flexbox($fd: column, $fw: nowrap, $jc: center);
            }
        }
    }
    @at-root
    &--small,
    &--medium,
    &--big{
        width: auto;
    }
    @at-root &--small{
        max-width: 880px;
    }
    @at-root &--medium{
        max-width: 1400px;
        @media screen and (min-width: $screen-hd-min){
            max-width: 1440px;
        }
    }
    @at-root  &--big{
        max-width: 1680px;
    }
}
.re-middle{
    width: 88%;
}