/*--------------------Bread Crumbs--------------------*/
$breadcrumb_space:              24px;
$breadcrumb_font-size:          0.7;
$breadcrumb_line-height:        30px;
$breadcrumb_color:              $c-dim-gray;
$breadcrumb_color-accent:       $c-primary;
$breadcrumb_separator-color:    $c-dim-gray;
.bread-crumbs{
    display: none;
    margin-bottom: 0.5em;
    margin-right: auto;
    overflow: hidden;
    @include font-size($breadcrumb_font-size);
    font-weight: $font-light;
    @include font-smooth();
    body.produto &{
        display: block;
    }
    @include mediaFrom(lg){
        margin-bottom: 2em;
    }
    ul{
        @include flexbox($fw: wrap);
    }
    li{
        position: relative;
        margin-right: $breadcrumb_space;
        letter-spacing: 0.05em;
        line-height: $breadcrumb_line-height;
        color: $breadcrumb_color;
        @include debug;
        // First
        &:first-child{
            color: $breadcrumb_color;
        }
        // Last
        &:last-child:not(:only-child),
        &.last{
            margin-right: 0;
            color: $breadcrumb_color-accent;
        }
        //
        &:not(:last-child)::after{
            content: '/';
            // width: 0;
            // height: 0;
            display: block;
            position: absolute;
            top: 50%;
            right: -($breadcrumb_space / 2);
            color: $breadcrumb_separator-color;
            transform: translate(50%,-50%);
            // border-width: $breadcrumb_space/8 0 $breadcrumb_space/8 $breadcrumb_space/8;
            // border-style: solid;
            // border-color: transparent transparent transparent currentColor;
        }
    }
    a,
    strong{
        display: block;
        position: relative;
        font-weight: inherit;
    }
    a{
        color: inherit;
        @at-root .bread-crumbs li:first-child a{
            font-size: 0;
            line-height: 0;
            &:before{
                content: 'Home';
                display: block;
                @include font-size($breadcrumb_font-size);
                line-height: $breadcrumb_line-height;
            }
        }
    }
    strong{
        @at-root body.resultado-busca .bread-crumbs li:last-child strong,
        body.resultado-busca .bread-crumbs li.last strong{
            @include flexbox();
            font-size: 0;
            pointer-events: none;
            a{
                line-height: 0;
            }
            a:first-child{
                &::before{
                    @include font-size($breadcrumb_font-size);
                    line-height: $breadcrumb_line-height;
                }
                &::before{
                    content: 'Búsqueda para: ' attr(title);
                }
            }
            a.busca-texto-livre-elimina{
                display: none;
            }
        }
    }
}