/*--------------------Maps--------------------*/
.map-iframe{
    position: relative;
    .iframe-mask{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    div.gm-style > div:first-child{
        pointer-events: none !important;
    }
    iframe{
        width: 100%;
        display: block;
    }
}