@charset "UTF-8";
// Global variables
$is-resilient:                      false !default;
$is-checkout:                       false !default;
$is-plugin:                         false !default;
$is-debugging:                      false !default;

// Breakpoints - Min
$screen-bs-min:                     0;
$screen-xs-min:                     360px;
$screen-sm-min:                     480px;
$screen-md-min:                     768px;
$screen-lg-min:                     1024px;
$screen-xl-min:                     1280px;
$screen-xxl-min:                    1440px;
$screen-hd-min:                     1920px;
// Breakpoints - Max
$screen-bs-max:                     $screen-xs-min - 1; // 359px
$screen-xs-max:                     $screen-sm-min - 1; // 479px
$screen-sm-max:                     $screen-md-min - 1; // 767px
$screen-md-max:                     $screen-lg-min - 1; // 1023px
$screen-lg-max:                     $screen-xl-min - 1; // 1279px
$screen-xl-max:                     $screen-xxl-min - 1; // 1439px
$screen-xxl-max:                    $screen-hd-min - 1; // 1919px

// Width to .re-central
$re-central-width-bs:               100%;
$re-central-width-xs:               100%;
$re-central-width-sm:               98%;
$re-central-width-md:               94%;
$re-central-width-lg:               944px;
$re-central-width-xl:               1180px;
$re-central-width-xxl:              1180px;
$re-central-width-hd:               1180px;

// Typography
$font-title:                        'AcademyFilled3D', sans-serif;
$font-subtitle:                     'Academy', sans-serif;
$font-condensed:                    'Cherione Normal', sans-serif;
$font-copy:                         'varsity_regular', sans-serif;
$font-body:                         'varsity_regular', sans-serif;
$font-number:                       'varsity_regular', sans-serif;
//$font-icons:                        'xVictoriasSecretPe';

// Font Weight
$font-thin:                         100;
$font-x-light:                      200;
$font-light:                        300;
$font-regular:                      400;
$font-medium:                       500;
$font-semibold:                     600;
$font-bold:                         700;
$font-x-bold:                       800;
$font-black:                        900;

// Color Palette
$c-primary:                         #000000;
$c-secondary:                       #EF5F96;
$c-tertiary:                        #EF5F96;
$c-text:                            #666666;
$c-dark:                            #232323;
$c-accent:                          #f5323e;
$c-cta:                             #EF5F96;
$c-info:                            #1f74bf;
$c-success:                         #008000;
$c-alert:                           #e39a05;
$c-invalid:                         #cc0000;
// Pink Scale
$c-pink-pale:                       #FDF1F5;
$c-pink-light:                      #F5B2C2;
$c-pink-extralight:                 #fddef0;
$c-pink-hot:                        #D91560;
$c-pink-dark:                       #bf215d;
// Gray Scale
$c-dark-gray:                       #333333;
$c-taupe-gray:                      #4a4a4a;
$c-dim-gray:                        #666666;
$c-dusty-gray:                      #acacac;
$c-pastel-gray:                     #dddddd;
$c-light-gray:                      #f2f2f2;

// z-index
$z-cintillo:                        600;
$z-brand:                           505;
$z-brand--desktop:                  595;
$z-header:                          500;
$z-header--menu-shown:              650;
$z-header--desktop:                 500;
$z-header-top-bar:                  600;
$z-header-middle-bar:               530;
$z-nav-mobile:                      1010;
$z-nav-desktop:                     520;
$z-searcher:                        1020;
$z-searcher--desktop:               590;
$z-main:                            auto;
$z-main--desktop:                   auto;
$z-sidebar:                         200;
$z-filters-desktop:                 90;
$z-footer:                          100;
$z-offcanvas:                       2000;
$z-overlay:                         1000;
$z-modal:                           3000;

// Cintillo - Height
$cintillo-height--bs:               49px;
$cintillo-height--md:               49px;
$cintillo-height--lg:               49px;
// Cintillo doble - Height
$cintillo-doble-height--bs:         0px;
$cintillo-doble-height--md:         0px;
$cintillo-doble-height--lg:         0px;
// $cintillo-doble-height--bs:         124px;
// $cintillo-doble-height--md:         89px;
// $cintillo-doble-height--lg:         89px;
// Cintillo Description - Height
$cintillo_description-height--bs:   60px;
$cintillo_description-height--md:   80px;
$cintillo_description-height--lg:   100px;
// Top Bar - Height
$top-bar-height--bs:                40px;
$top-bar-height--md:                40px;
$top-bar-height--lg:                45px;
// Middle Bar - Height
$middle-bar-height--bs:             53px;
$middle-bar-height--md:             53px;
$middle-bar-height--lg:             115px;
// Nav - Height
$nav-height--lg:                    46px;
$nav_link-height--lg:               46px;
// Header - Height
$header-height--bs:                 $top-bar-height--bs + $middle-bar-height--bs + $cintillo-doble-height--bs;
$header-height--md:                 $top-bar-height--md + $middle-bar-height--md + $cintillo-doble-height--md;
$header-height--lg:                 $middle-bar-height--lg + $nav-height--lg + $cintillo-doble-height--lg;
// Header - Up
$header-up--bs:                     $cintillo-height--bs + $top-bar-height--bs;
$header-up--md:                     $cintillo-height--md + $top-bar-height--md;
$header-up--lg:                     $cintillo-height--lg;
// Searcher wrapper - Height
$searcher-height--bs:               45px;
$searcher-height--md:               45px;
$searcher-height--lg:               45px;

// Gutter
$re-gutter:                         15px;
// Animation Time
$animate-time:                      0.2s;
// Paths
$font-path:                         'http://localhost:3000/fonts/';
$image-path:                        'http://localhost:3000/assets/';

// Breakpoints - Map
$breakpoints-min: (
    bs:                             $screen-bs-min,
    xs:                             $screen-xs-min,
    sm:                             $screen-sm-min,
    md:                             $screen-md-min,
    lg:                             $screen-lg-min,
    xl:                             $screen-xl-min,
    xxl:                            $screen-xxl-min,
    hd:                             $screen-hd-min
);
$breakpoints-max: (
    bs:                             $screen-bs-max,
    xs:                             $screen-xs-max,
    sm:                             $screen-sm-max,
    md:                             $screen-md-max,
    lg:                             $screen-lg-max,
    xl:                             $screen-xl-max,
    xxl:                            $screen-xxl-max,
    hd:                             10000px
);
$breakpoints: (
    bs:                             (min: $screen-bs-min, max: $screen-bs-max),
    xs:                             (min: $screen-xs-min, max: $screen-xs-max),
    sm:                             (min: $screen-sm-min, max: $screen-sm-max),
    md:                             (min: $screen-md-min, max: $screen-md-max),
    lg:                             (min: $screen-lg-min, max: $screen-lg-max),
    xl:                             (min: $screen-xl-min, max: $screen-xl-max),
    xxl:                            (min: $screen-xxl-min, max: $screen-xxl-max),
    hd:                             (min: $screen-hd-min, max: 10000px)
);

// Color Palette - Map
$color-palette-map: (
    'primary':                      (color: $c-primary, font: white),
    'secondary':                    (color: $c-secondary, font: white),
    'tertiary':                     (color: $c-invalid, font: white),
    'accent':                       (color: $c-accent, font: white),
    'cta':                          (color: $c-accent, font: white),
    'dark':                         (color: $c-dark, font: white),
    'white':                        (color: white, font: black),
    'black':                        (color: black, font: white)
);

// Color Palette - List
$color-palette-list:
    primary                         $c-primary      darken($c-primary,10),
    secondary                       $c-secondary    darken($c-secondary,10),
    accent                          $c-accent       darken($c-accent,10),
    white                       white           white,
    black                       black           black
;

// Font-weight - List
$font-weight-list: (
    ('thin', 100),
    ('x-light', 200),
    ('light', 300),
    ('regular', 400),
    ('medium', 500),
    ('semibold', 600),
    ('bold', 700),
    ('x-bold', 800),
    ('black', 900)
);

/*--------------------Product Item--------------------*/
// Gutter
$gutter-bs:                     5px;
$gutter-xl:                     15px;
$gutter-in:                     0px;
$sku-color-width:               1.5em;
$sku-color-height:              1.5em;
$sku-color-margin:              $sku-color-width * 0.2;
$skus-color__wrapper-width:     $sku-color-width * 3 + $sku-color-margin * 6;
$skus-wrapper-height:           $sku-color-width * 1.25;
$background-color:              white;

$pi__image-bgc:                 darken(white,5);

// Vtex
$c-fb: #3b5998;
$c-fb-l1: lighten($c-fb, 10);
$c-fb-d1: darken($c-fb, 10);